.aboveFold {
    height: 100vh;
    background-image: 
    linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, .2)), 
        url(../img/Fleece/logo-2-01.jpg);
    
    // url(../img/Fleece/logo-2-01.jpg); possible
    // url(../img/Fleece/logo-3-01.jpg); possible if flipped 
    // url(../img/Fleece/logo-on-fleece-01.jpg);
    //  url(../img/Fleece/lookbook-2-01.png);  possible if background position is changed
    // background-position: 0 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;

    .rocketTitle {
        width: 35rem;
        height: auto;
        margin-top: 10rem;
        @media screen and (max-width: $bp-medium) {
            display: none;
        }
    }
    & h1 {
        font-weight: 400;
        padding: 0 20rem;
        padding-top: 15rem;
        padding-bottom: 1rem;
        color: $color-grey-dark-2;
        font-size: 7rem;
        @media screen and (max-width: $bp-medium) {
            padding: 0 10rem;
            padding-top: 25rem;
            font-size: 7rem;
        }
        @media screen and (max-width: $bp-small) {
            padding: 0 4rem;
            padding-top: 35vh;
            font-size: 5rem;
        }
        @media screen and (max-width: 500px) {
            padding: 0 1rem;
            padding-top: 35vh;
        }
    }
    .btn {
    //     @media only screen and (max-width: tab-port) {
    //         margin-top: -10rem;
    // }
        &:hover {
            transform: translateY(3px);
        }
        &:active {
            transform: translateY(-1px);
        }
    }

    .logo {
        position: absolute;
        top: 6.5rem;
        right: 4rem;
    } 
    .rocketLogo {
        height: 10rem;
        width: auto;
    }   
}