// COLOR VARIABLES
$color-primary: #ff2e63;
$color-primary-dark: #393e46;

$color-secondary: #177330;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-tertiary: #08d9d6;
$color-grey-dark-2: blanchedalmond;

// #e7e3d8

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    @media screen and (min-width: 1500px) {
        font-size: 50%;
    }
}

.app {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    background-color: $color-secondary;
}

body {
    background-color: $color-grey-dark-2;
}

