.rocketFleece {
    background-color: $color-grey-dark-2;
    padding-bottom: 4rem;
    text-align: center;
    @media screen and (max-width: 500px) {
        padding-bottom: 10rem;
    }
    .top_centered {
        text-align: center;
    }
    &__head {
        width: 30rem;
        height: auto;
        display: inline-block;
        padding-top: 4rem;
        padding-bottom: 2rem;
        @media screen and (max-width: 541px) {
            padding-top: 15rem;
        }
    }
    &__icon {
        height: 5rem;
        display: inline-block;
        width: auto;
        margin-bottom: 0;
    }
}

.productPage {
    border-radius: 1rem;
    color: $color-secondary;
    font-family: $font-display;
    width: 100vw;
    text-align: center;
    @media screen and (max-width: $bp-medium) {
        padding-bottom: 7rem;
    }
    & h1 {
        font-size: 5rem;
        padding-bottom: 4rem;
    }
    .price {
        font-size: 3rem;
        padding-top: 2rem;
        @media screen and (max-width: $bp-medium) {
            font-size: 1.6rem;
            padding-top: 0;
        }
        &_desc{
            font-size: 2rem;
            font-weight: 400;
            text-align: left;
            @media screen and (max-width: $bp-medium) {
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 1.5rem;
                padding: 0 1rem;
            }
        }
    }
    
    .outOfStock {
        font-size: 2rem;
        font-weight: 400;
    }
    .size {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 10rem;
            height: auto;
    }
    .purchase {
        // this is the buy now button
        background-color: #7f7566;
        color: $color-grey-dark-2;
        border: none;
        border-radius: .5rem;
        font-family: $font-display;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1.8rem 3rem;
        cursor: pointer;
        transition: all .2s;
        margin-top: .5rem;
        display: inline-block;
        width: 25rem;
        &:hover {
            background-color: rgba(0,0,0,.5);
            color: $color-grey-dark-2;
            background-color: $color-secondary;
            box-shadow: 0 10px 20px rgba(0,0,0,.2);
        }
        &:active {
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }
    }
    
}

// below this is the form
.form { 
    text-align: left;
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga(#fff, .5);
        color: $color-secondary;
        border: none;
        border-bottom: 3px solid transparent;
        display: inline-block;
        width: 25rem;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, .1);
            border-bottom: 3px solid #27c352;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-grey-dark-2;
        }

        &::-webkit-input-placeholder {
            color: #7f7566;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        // margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
        position: relative;
        left: 2rem;
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        position: relative;
        transform: translateY(-4rem);
    }
}

.ctr {
    &__email {
        display: flex;
        justify-content: center;
    }
    &__confirm {
        width: 25rem;
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.fleeceCTA {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: $bp-medium) {
        flex-direction: column;
        justify-content: center;
    }
    &_right {
        width: 40%;
        @media screen and (max-width: $bp-medium) {
            width: 100%;
            font-size: 1.6rem;
        }
    }
}

.productGallery {
    &_container {
        width: 100vw;
        justify-content: center;
        display: flex;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 70%;
    @media screen and (max-width: 830px) {
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    &__focused {
        width: 80%;
        margin-left: auto;
        height: 50vw;
        position: relative;
        @media screen and (max-width: 830px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid $color-grey-dark-2;
            @media screen and (max-width: 830px) {
                border: none;
            }
        }
    }
    &__others {
        width: 20%;
        height: 50vw;
        overflow-y: scroll;
        @media screen and (max-width: 830px) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        img {
            border: 2px solid $color-grey-dark-2;
            display: block;
            width: 100%;
            object-fit: contain;
        }
    }
}

.arrows {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &_left, &_right {
        width: 12rem;
        background-color: $color-grey-dark-2;
        padding: 2rem;
        margin: 1rem;
        border-radius: .5rem;
        font-size: 1.5rem;
        transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
        border: none;
        @media screen and (max-width: 530px) {
           padding: 1rem;
           font-size: 1rem;
           width: 6rem;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &:active {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transform: translateY(2px);
        }
    }
}