.footer {
    background-color: $color-secondary;
    padding: 8rem;
    &__img {
        display: flex;
        justify-content: center;
        img {
            height: 13rem;
            width: auto;
            margin-top: 4rem;
            display: inline-block;
        }
    }
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    // ^ when width of one of the columns becomes less than 15rem one of them will disappear
    grid-gap: 2rem;
    align-items: center;

    &__link {
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-secondary;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
        background-color: $color-grey-dark-2;
    }

    &__link:hover,
    &__link:active {
        background-color: $color-grey-dark-2;
        color: #000;
        transform: translateY(-3px);
    }
}

.subscribeSubmit {
       font-size: 1.4rem;
       font-weight: 400;
       padding: 1.5rem;
       border-radius: 10rem;
       color: #5c996c;
       background-color: $color-grey-dark-2;
       text-decoration: none;
       font-family: $font-display;
    }

