.ourStory {
    background-color: $color-secondary;
    &__centered {
        text-align: center;
    }
    &__head {
        width: 30rem;
        height: auto;
        display: inline-block;
        padding-top: 4rem;
        padding-bottom: 2rem;
        @media screen and (max-width: 570px) {
            padding-top: 15rem;
        }
    }
    &__icon {
        height: 6rem;
        width: auto;
        display: inline-block;
        margin-bottom: 40rem;
    }
}